# phpstorm project files
.idea

# netbeans project files
nbproject

# zend studio for eclipse project files
.buildpath
.project
.settings

# windows thumbnail cache
Thumbs.db

# Mac DS_Store Files
.DS_Store

# composer vendor dir
vendor

# temp dir
tests

# composer itself is not needed
composer.phar

#composer lock
composer.lock

# phpunit itself is not needed
phpunit.phar
# local phpunit config
/phpunit.xml

# Config file
config/console-server.php
config/web-server.php
config/web-local.php
web/**/*.min.*

# Assets
web/assets/*
!web/assets/AppAsset.php

# Runtime
runtime/*

# Images
web/images/shop/*
web/images/items/*
web/images/auction/*
web/images/background/original