# Mod_Autoindex
<IfModule mod_autoindex.c>
  # Запрещаем просмотр содержимого папок
  Options -Indexes
</IfModule>

# Mod_Rewrite
<IfModule mod_rewrite.c>
  Options +FollowSymlinks
  # Включаем mod_rewrite
  RewriteEngine On
  IndexIgnore */*
  # Перенаправляем все запросы на входной скрипт
  RewriteRule ^([^/].*)?$ /web/$1
</IfModule>